:host {
  display: grid;
  height: -webkit-fill-available;
  grid-template-rows: auto auto 1fr auto;
  background-image: url(../../../../../assets/images/forest.png);
  background-size: cover;
  background-position: center;
}
