<mat-card>
  <mat-card-header>
    <mat-card-title>
      <ng-content select="[title]"></ng-content>
    </mat-card-title>
  </mat-card-header>
  <ng-content select="[image]"></ng-content>
  <mat-card-content>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        Read Description
      </mat-expansion-panel-header>
      <ng-content select="[desc]"></ng-content>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-footer>
    <ng-content select="[info]"></ng-content>
  </mat-card-footer>
</mat-card>