:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    flex: 1;
    display: flex;
    align-items: flex-end;
    button {
      background: transparent;
      border: none;
      cursor: pointer;

      .mat-icon {
        color: white;
        font-size: 5vw;
      }
    }
  }
}
